.customInput::placeholder {
  @apply !text-neutrals-high !caret-brand-primary;
  font-family: 'Aston Martin Sans';
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  caret-color: #00665E;
}